<h1 class="mt-4 mb-4">Buscar Preços</h1>

<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-search me-1"></i>
        Resultados da busca: <%= @shipping_companies.count %>
    </div>
    <% if @shipping_companies.count > 0 %>
        <% @shipping_companies.each do |shipping_company| %>
            <div class="card-body">
                <div class="card">
                    <div class="card-header">
                        <ul class="nav nav-pills card-header-pills">
                            <li class="nav-item">
                                <%= shipping_company.brand_name %>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><strong><%= t("corporate_name") %>: </strong><%= shipping_company.corporate_name %></li>
                            <li class="list-group-item"><strong><%= t("domain") %>: </strong><%= shipping_company.domain %></li>
                            <li class="list-group-item"><strong><%= t("registration_number") %>: </strong><%= shipping_company.registration_number %></li>
                            <li class="list-group-item"><strong>Metros Cúbicos: </strong><%= @cubic_meters.round(5) %> m³</li>
                            <li class="list-group-item"><strong>Valor por Km: </strong><%= humanized_money_with_symbol find_price(shipping_company, @cubic_meters, @weight) %></li>
                            <li class="list-group-item"><strong>Valor mínimo cobrado: </strong><%= humanized_money_with_symbol shipping_company.price_setting.value_min_cents/100.to_f %></li>
                            <div class="search-prices-result">
                                <li class="list-group-item search-prices-result"><strong>Prazo de entrega: </strong><%= find_working_days(shipping_company, @range) %> dias úteis</li>
                                <li class="list-group-item search-prices-result"><strong>Valor Total: </strong><%= humanized_money_with_symbol value_total(@range, find_price(shipping_company, @cubic_meters, @weight), shipping_company.price_setting.value_min_cents/100.to_f) %></li>
                            </div>
                        </ul>
                    </div>
                    <div class="card-footer text-muted">
                        <ul class="nav nav-pills card-header-pills">
                            <li class="nav-item">
                                <a href="#" class="btn btn-primary">Gerar ordem de serviço</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <br>
        <% end %>
    <% else %>
        <div class="card-body">
            <strong>Não há transportadora para atender esta demanda.</strong>
        </div>
    <% end %>
</div>