<% if @price.errors.any? %>
    <p>Verifique os erros abaixo:</p>
    <ul>
        <% @price.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
    </ul>
<% end %>

<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Formulário
    </div>
    <div class="card-body">
        <%= form_with(model: [:shipping_company, @price]) do |f| %>
            <div class="mb-3">
                <%= f.label :cubic_start, class:"form-label" %>
                <%= f.number_field :cubic_start, class:"form-control", step:"0.0001" %>
            </div>
            <div class="mb-3">
                <%= f.label :cubic_end, class:"form-label" %>
                <%= f.number_field :cubic_end, class:"form-control", step:"0.0001" %>
            </div>
            <div class="mb-3">
                <%= f.label :weight_start, class:"form-label" %>
                <%= f.number_field :weight_start, class:"form-control" %>
            </div>
            <div class="mb-3">
                <%= f.label :weight_end, class:"form-label" %>
                <%= f.number_field :weight_end, class:"form-control" %>
            </div>
            <div class="mb-3">
                <%= f.label :value_kilometer, class:"form-label" %>
                <%= f.text_field :value_kilometer, class:"form-control" %>
            </div>
            <div class="mb-3">
                <%= f.submit 'Cadastrar', disable_with: 'Cadastrando...', class:"btn btn-primary" %>
            </div>
        <% end %>
    </div>
</div>
