<!DOCTYPE html>
<html>
  <head>
    <title>Shipping - Dashboard</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
    <%= stylesheet_link_tag "app/styles" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= javascript_include_tag "app", "data-turbo-track": "reload", defer: true %>
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
  </head>

  <body class="sb-nav-fixed">
    <%= render 'layouts/app_shared/topbar' %>

    <div id="layoutSidenav">
      <!-- MENU -->
      <%= render 'layouts/app_shared/leftbar' %>

      <!-- CONTENT -->
      <div id="layoutSidenav_content">
        <!-- CONTENT MAIN -->
        <main>
            <div>
              <%= notice %>
              <%= alert %>
            </div>
            <div class="container-fluid px-4">
                <%= yield %>
            </div>
        </main>

        <!-- FOOTER -->
        <%= render 'layouts/app_shared/footer' %>

      </div>
    </div>
  </body>
</html>