<!DOCTYPE html>
<html>
  <head>
    <title>Shipping - Acesso Admin</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
    <%= stylesheet_link_tag "app/styles" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= javascript_include_tag "app", "data-turbo-track": "reload", defer: true %>
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
  </head>

  <body class="bg-primary">
    <div>
      <%= notice %>
      <%= alert %>
    </div>
    <div id="layoutAuthentication">

      <%= yield %>
      
      <%= render "layouts/app_devise_shared/footer" %>
    </div>
  </body>
</html>
